.cart-box {
    width: 250px;
    height: 250px;
    padding: 1em;
    background-color: white;
    border-radius: 20px;
    margin: 1em 0em;
    cursor: pointer;
}
.cart-box > div > h1 {
    border-radius: 20px;
    background-color: lavender;
    margin: 0px;
    padding: 1em;
    max-width: calc(100%-2em);
    min-height: 100px;
}
.cart-box > div > h3{
    margin: 0.5em;
}
.cart-box > div > button {
    border: none;
    padding: 1em;
    border-radius: 10px;
    color: white;
    background-color: #318CE7;
}
.cart-box:hover{
    transform: scale(1.02);
}